<nav class="navbar-grc">
  <!-- Brand Logo -->
  <a href="#">
    <img src="/assets/image/grc-logo.png" alt="GRC Logo" classbrand-logo" />
  </a>

  <!-- Desktop Horizontal Links (Lalabas lang sa Desktop Screen) -->
  <ul class="desktop-nav">
    <li><a href="#">Home</a></li>
    <li><a href="#">Events</a></li>
    <li class="has-dropdown">
      <a href="#" class="dropdown-btn">Academics <i class="bi bi-chevron-down"></i></a>
      <ul class="desktop-dropdown">
        <li><a href="#">College of Business Administration</a></li>
        <li><a href="#">College of Entrepreneurship</a></li>
        <li><a href="#">College of Accountancy</a></li>
        <li><a href="#">College of Education</a></li>
        <li><a href="#">College of Computer Studies</a></li>
      </ul>
    </li>
    <li><a href="#">Downloadable Forms</a></li>
    <li class="has-dropdown">
      <a href="#" class="dropdown-btn">Student Services <i class="bi bi-chevron-down"></i></a>
      <ul class="desktop-dropdown">
        <li><a href="#">Admissions</a></li>
        <li><a href="#">Library</a></li>
        <li><a href="#">Scholarship</a></li>
        <li><a href="#">Office of the Student Affairs</a></li>
        <li><a href="#">Online Entrance Exam Portal</a></li>
      </ul>
    </li>
    <li class="has-dropdown">
      <a href="#" class="dropdown-btn">Alumni Services <i class="bi bi-chevron-down"></i></a>
      <ul class="desktop-dropdown">
        <li><a href="#">Alumni Tracer</a></li>
        <li><a href="#">Testimonials</a></li>
        <li><a href="#">Job Offers</a></li>
      </ul>
    </li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">About Us</a></li>
  </ul>

  <!-- Hamburger Button (Lalabas lang sa Mobile Screen) -->
  <button id="openDrawerBtn" class="hamburger-landing" aria-label="Open Menu">
    &#9776;
  </button>
</nav>